/* General */
html, body{
    min-height:100%;
}

.row {
    padding: 0;
    margin: 0;
}

.col-12, .col-lg-6 {
    padding: 0;
    margin: 0;
}

/* Body */
body{
    background-image: url("../img/pexels-kaboompics-com-5836.jpg");
    background-color: #f8e540;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
@font-face {
    font-family: "SourceCodePro-Regular";
    src: url("../font/SourceCodePro-Regular.ttf") format('truetype');
}
header{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

header>h1{
    font-family: "SourceCodePro-Regular", serif;
    font-size: 2em;
    font-weight: 900;
}

@media (min-width: 992px){
    header>h1{
        font-family: "SourceCodePro-Regular", serif;
        font-size: 3em;
        font-weight: 900;
    }
}

/* Timer */
#timer__container {
}

#timer__wrapper {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-content: center;
}

#timer__wrapper .card-header{
    font-size: 2em;
}

.timer__svg {
    fill: rgba(0, 0, 0, 0.22);
    width: 400px;
    height: 400px;
}

.timer-main__circle {
}

.timer-remain__circle {
    fill: none;
    stroke: rgba(255, 255, 255, 0.6);
    stroke-linecap: round;
    stroke-width: 10;
}

.timer-time__text {
    /*position: absolute;*/
    /*width: 400px;*/
    /*height: 400px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 3.5rem;
}

/* Task */
#task__container, #timer__container {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#task__wrapper,
#task__container .card,
#timer__wrapper,
#timer__container .card{
    border-radius: 1.5rem;
}

#task__container .card-header{
    text-align: center;
    font-size: 2em;
    border-top-left-radius:1.5rem;
    border-top-right-radius: 1.5rem;
}

#task__container .card-body{
    padding-top: 0;
    padding-bottom: 0;
}

#task__container .card-footer{
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius:1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.input-group-prepend input:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#task__wrapper > .card ul > li {
    padding: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
