/* General */
.row {
    padding: 0;
    margin: 0;
}

.col-12, .col-lg-6 {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Timer */
#timer__container {
}

#timer__wrapper {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-content: center;
}

.timer__svg {
    fill: rgba(0, 0, 0, 0.22);
    width: 400px;
    height: 400px;
}

.timer-main__circle {
}

.timer-remain__circle {
    fill: none;
    stroke: rgba(255, 255, 255, 0.6);
    stroke-linecap: round;
    stroke-width: 10;
}

.timer-time__text {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

/* Task */
#task__container {
    padding-left: 5%;
    padding-right: 5%;
}

#task__container #task__wrapper,
#task__container .card {
    border-radius: 1.5rem;
    height: 100%;
}

#task__container .card-header{
    text-align: center;
    font-size: 2em;
    border-top-left-radius:1.5rem;
    border-top-right-radius: 1.5rem;
}

#task__container .card-body{
    padding-top: 0;
    padding-bottom: 0;
}

#task__container .card-footer{
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius:1.5rem;
    border-bottom-right-radius: 1.5rem;
}